<a href="https://colab.research.google.com/github/tanyaryabov/ML/blob/master/Content_based_kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls /content/drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
MyDrive  Shareddrives

In [ ]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
#!pip install fuzzywuzzy
from fuzzywuzzy import process

In [ ]:
#Load Dataset
ratings = pd.read_csv('/content/drive/MyDrive/ratings.csv', usecols=['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})
movies = pd.read_csv('/content/drive/MyDrive/movies.csv', usecols=['movieId','title'], dtype={'movieId':'int32','title':'str'})
ratings.head()
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
#Creating Sparse Matrix- movies<->userd
movies_users=ratings.pivot(index='movieId', columns='userId',values='rating').fillna(0)
mat_movies_users=csr_matrix(movies_users.values)

In [ ]:
#kNN model with cosine similarity:
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)
model_knn.fit(mat_movies_users)

In [ ]:
# Recommender(movie_name) => List of Movies recommended

def recommender(movie_name, data, model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, movies['title'])[2]
    print('Movie Selected: ',movies['title'][idx], 'Index: ',idx)
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(movies['title'][i])

In [ ]:
recommender('Pulp Fiction', mat_movies_users, model_knn,10)

Movie Selected:  Pulp Fiction (1994) Index:  257
257                       Pulp Fiction (1994)
510          Silence of the Lambs, The (1991)
277          Shawshank Redemption, The (1994)
43                Seven (a.k.a. Se7en) (1995)
314                       Forrest Gump (1994)
46                 Usual Suspects, The (1995)
97                          Braveheart (1995)
2224    Home Alone 2: Lost in New York (1992)
520                              Fargo (1996)
507         Terminator 2: Judgment Day (1991)
Name: title, dtype: object