<a href="https://colab.research.google.com/github/tanyaryabov/ML/blob/master/Recommendation_system_most_rated_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')
!ls /content/drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
MyDrive  Shareddrives

In [4]:
import pandas as pd
import os, io
import numpy as np
from pandas import Series, DataFrame, read_table
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error

In [11]:
ratings = pd.read_csv('/content/drive/MyDrive/ratings.csv', usecols=['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})
movies = pd.read_csv('/content/drive/MyDrive/movies.csv', usecols=['movieId','title'], dtype={'movieId':'int32','title':'str'})
df = pd.merge(ratings, movies, on='movieId')
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)


*   Find the unique users 
*   Count the number of tmes the movie has been seen
*   Rank the counts

In [22]:
output_data= df.groupby(['title'])['userId'].count().reset_index() #counting how many users watched specific movie
output_data.rename(columns={'userId': 'score'}, inplace=True)
output_data_sort= output_data.sort_values(['score', 'title'], ascending= [0,1])
output_data_sort['Rank']= output_data_sort['score'].rank(ascending=0, method= 'first')
popular_rec= output_data_sort.head(10)
popular_rec

                                          title  score  Rank
3158                        Forrest Gump (1994)    329   1.0
7593           Shawshank Redemption, The (1994)    317   2.0
6865                        Pulp Fiction (1994)    307   3.0
7680           Silence of the Lambs, The (1991)    279   4.0
5512                         Matrix, The (1999)    278   5.0
8001  Star Wars: Episode IV - A New Hope (1977)    251   6.0
4662                       Jurassic Park (1993)    238   7.0
1337                          Braveheart (1995)    237   8.0
8363          Terminator 2: Judgment Day (1991)    224   9.0
7421                    Schindler's List (1993)    220  10.0