<a href="https://colab.research.google.com/github/tanyaryabov/ML/blob/master/RS_collaborative_filtering_item_based.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
!ls /content/drive

Mounted at /content/drive
MyDrive  Shareddrives

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#Load Dataset
df = pd.read_csv('/content/drive/MyDrive/ratings.csv')
print(df.shape)
df.head()

(100836, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
#Importing movie title and joining with main data
movies = pd.read_csv('/content/drive/MyDrive/movies.csv',encoding= 'unicode_escape')
df = pd.merge(df, movies, on='movieId')
df.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy
3      15  ...  Adventure|Animation|Children|Comedy|Fantasy
4      17  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 6 columns]

In [12]:
#creating mean ratings data
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
ratings.head()

                                         rating
title
'71 (2014)                                  4.0
'Hellboy': The Seeds of Creation (2004)     4.0
'Round Midnight (1986)                      3.5
'Salem's Lot (2004)                         5.0
'Til There Was You (1997)                   4.0

In [16]:
#creating number of ratings data
ratings['Nratings'] = df.groupby('title')['rating'].count()
ratings.head()

                                         rating  Nratings
title
'71 (2014)                                  4.0         1
'Hellboy': The Seeds of Creation (2004)     4.0         1
'Round Midnight (1986)                      3.5         2
'Salem's Lot (2004)                         5.0         1
'Til There Was You (1997)                   4.0         2

In [18]:
#Most rated movies
ratings.sort_values('Nratings', ascending=False).head(10)

                                             rating  Nratings
title
Forrest Gump (1994)                        4.164134       329
Shawshank Redemption, The (1994)           4.429022       317
Pulp Fiction (1994)                        4.197068       307
Silence of the Lambs, The (1991)           4.161290       279
Matrix, The (1999)                         4.192446       278
Star Wars: Episode IV - A New Hope (1977)  4.231076       251
Jurassic Park (1993)                       3.750000       238
Braveheart (1995)                          4.031646       237
Terminator 2: Judgment Day (1991)          3.970982       224
Schindler's List (1993)                    4.225000       220

In [28]:
#creating the user-item interaction matrix
movie_matrix_UII = df.pivot_table(index='userId', columns='title', values='rating')
movie_matrix_UII.fillna(0, inplace=True)
movie_matrix_UII.head()

title   '71 (2014)  ...  Ã nous la libertÃ© (Freedom for Us) (1931)
userId              ...
1              0.0  ...                                          0.0
2              0.0  ...                                          0.0
3              0.0  ...                                          0.0
4              0.0  ...                                          0.0
5              0.0  ...                                          0.0

[5 rows x 9719 columns]

In [29]:
#Making recommendation - Example movie- Pulp Fiction
# ratings for Pulp Fiction
Fiction_user_rating = movie_matrix_UII['Pulp Fiction (1994)']
Fiction_user_rating.head()

userId
1    3.0
2    0.0
3    0.0
4    1.0
5    5.0
Name: Pulp Fiction (1994), dtype: float64

In [30]:
#Finding the correlation with different movies
similar_to_fiction=movie_matrix_UII.corrwith(Fiction_user_rating)
similar_to_fiction.head()

title
'71 (2014)                                 0.053089
'Hellboy': The Seeds of Creation (2004)    0.034704
'Round Midnight (1986)                    -0.002922
'Salem's Lot (2004)                       -0.038833
'Til There Was You (1997)                 -0.053317
dtype: float64

In [32]:
#creating dataframe to bring in #of ratings
corr_fiction = pd.DataFrame(similar_to_fiction, columns=['Correlation'])
corr_fiction.dropna(inplace=True)
#Bringining in ratings
corr_fiction = corr_fiction.join(ratings['Nratings'])
corr_fiction.head()

                                         Correlation  Nratings
title
'71 (2014)                                  0.053089         1
'Hellboy': The Seeds of Creation (2004)     0.034704         1
'Round Midnight (1986)                     -0.002922         2
'Salem's Lot (2004)                        -0.038833         1
'Til There Was You (1997)                  -0.053317         2

In [33]:
corr_fiction[corr_fiction['Nratings'] > 30].sort_values(by='Correlation', ascending=False).head(10)

                                  Correlation  Nratings
title
Pulp Fiction (1994)                  1.000000       307
Seven (a.k.a. Se7en) (1995)          0.517086       203
Usual Suspects, The (1995)           0.470340       204
Silence of the Lambs, The (1991)     0.464080       279
Reservoir Dogs (1992)                0.449298       131
Goodfellas (1990)                    0.443585       126
Shawshank Redemption, The (1994)     0.413893       317
Trainspotting (1996)                 0.398049       102
Fargo (1996)                         0.394537       181
American History X (1998)            0.391515       129